<div class="card shadow-lg mb-3">
  <div class="card-header text-white bg-primary">
  </div>
  <div class="card-body">
    <mat-form-field>
      <mat-select placeholder="Choose sections" [(ngModel)]="selectedKeys" multiple>
        <mat-option *ngFor="let key of dataKeys" [value]="key">
          {{key}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div *ngFor="let key of dataKeys">
  <div class="card shadow-lg mb-3" [hidden]="selectedKeys.indexOf(key) === -1">
    <div class="card-header text-white bg-primary">
      {{key}}
    </div>
    <div class="card-body">
      <app-grid [data]="dataObj[key]"></app-grid>
    </div>
  </div>
</div>